{% extends "base.html" %}

{% block title %}DLO Leaderboard{% endblock %}
{% block header %}Season 2 Leaderboard{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>DLO</th>
            <th>Matches Played</th>
        </tr>
    </thead>
    <tbody>
        {% for player in leaderboard %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="player/{{ player.rating_data.name }}.html">{{ player.steam_name }}</a></td>
            <td>{{ player.score|round(2) }}</td>
            <td>{{ player.games_played }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
